* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

div{
	background-color: blue;
	border: 10px;
	border-color: red;
	height: 200px;
	width: 200px;
	margin: 0px;
	float: left;

}
p{
	float: left;
}


.topbar{
	position: relative;
	left: 0px;
	top: 0px;
	background-color: white;
	border: 0px solid green;
	height: 10vh;
	width: 100vw;

}

h1{
	float: left;
	position: relative;

}

.h1-1{
	left: 35vw;
}

.h1-2{
	left: 45vw;
}

.left{
	background-color: white;
	position: relative;
	width: 20vw;
	height: 90vh;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 60vh;
}

.manu{
	background-color: blue;
	position: relative;
	width: 60vw;
	height: 60vh;
}

.manu:after{
	content: "";
    display: table;
    clear: both;
}


.options{
	padding: 5px;
	font-size: 12px;
	color: white;
	

}
.option{
	z-index: 1000px;
}

.right{
	background-color: white;
	position: relative;
	width: 20vw;
	height: 90vh;
}




.title{
	clear: both;
}

.discription{
	
}

#draggablediv {
    padding: 10px;
    background-color: white;
    color: blue;
    width: 400px;
    height: 200px;
    box-shadow: 0px 0px 40px rgba(0,0,255,.8);
    left: 30%;
    top: 30%;
    z-index: 2000;
    text-align: left;
    position: absolute;  
    border: 5px solid blue;
    border-top: 10px solid blue;
}

#runthefile{
	padding: 10px;
    background-color: white;
    color: black;
    width: 200px;
    height: 100px;
    box-shadow: 0px 0px 20px rgba(0,0,255,.8);
    left: 50%;
    top: 50%;
    z-index: 2100;
    text-align: left;
    position: absolute;  
    border: 5px solid black;
    border-top: 10px solid black;
    display: none;
}



.dragme{
	
	cursor: move;
	position: relative;
	
}

img{
	margin: 10px;
	float: left;
	height: 150px;
	width: auto;
	box-shadow: 0px 0px 10px rgba(0,0,255,.5)
	
	
}


#img{
	z-index: 1000;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	background-color: transparent;
	display: none;
}

#window{
   width: 250px;
   height: auto;
 }

.container{
   background-color: transparent;
}

.container:hover .overlay{
    opacity: 1;
}

.overlay{
  position: relative;
  float: left;
  top: 10px;
  left: 100px;
  width: 30vw;
  height: 100vh;
  opacity: 0;
  transition: .5s ease;
  background-color: transparent;
}

 .text{
 	position: relative;
    top: 5px;
    left: 5px;
    width: 30vw;
    height: 100vh;
    text-align: left;
    background-color: transparent;
    margin-top: 0px;
    font-size: 40px;
      /*transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
*/
 }


#t1{
    color: red;
    z-index: 2100;
}

#t2{
    display: none;
    z-index: 2100;

}

#t3{
    display: none;
    z-index: 2100;

}

#t4{
    color: green;
    display: none;
    z-index: 2100;
}

#t5{
    display: none;
    z-index: 2100;

}

#t6{
    display: none;
    z-index: 2100;

}

#t7{
    color: blue;
    display: none;
    z-index: 2100;
}

#t8{
    display: none;
    z-index: 2100;

}

#t9{
    display: none;
    z-index: 2100;

}

#t10{
    color: red;
    display: none;
    z-index: 2100;
}

#t11{
    display: none;
    z-index: 2100;

}

#t12{
    display: none;
    z-index: 2100;

}

#t13{
    display: none;
    z-index: 2100;

}

#p1{
    color: red;
    display: none;
    z-index: 2100;
}

#p2{
    display: none;
    z-index: 2100;

}

#p3{
    display: none;
    z-index: 2100;

}

#p4{
    color: red;
    display: none;
    z-index: 2100;
}


#p5{
    display: none;
    z-index: 2100;

}

#p6{
    color: red;
    display: none;
    z-index: 2100;
}


#info {
    width: 50px;
    height: 50px;
    background: red;
}
.caption-background {
    height: 200px;
    background: blue;
}
.hidden {
    display: none;
}



